.cart-item {
    display: flex;
    grid-row: auto;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin: 10px;
    height: 10vh;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 100px;
}

.cart-item-quantity input {
    background-color: white !important;
    border-radius: 2rem;
    border-style: none;

    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}