.cart-page {
    display: flex;
    flex-direction: column;
}

.cart-items {
    padding-top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.cart-summary a {
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}