.nav-bar {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 16px;
  min-height: 64px;
  max-height: 64px;
  width: 90vw;
  background-color: var(--button-bg);
  border-radius: 64px;
  text-decoration: none;
}

.nav-logo {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
}

.nav-links {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--text-color);
  margin: 0 16px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0 1.5rem;
}

.nav-links a:hover {
  color: var(--button-hover);
}

.cart-wrapper {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-self: end;
}

.cart-button {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-style: normal;
  color: var(--text-color);
  margin: 0 36px;
}

.cart-icon {
  position: relative;
  font-size: 12px;
  font-weight: bold;
}

.cart-icon > *:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}


.cart-label {
  justify-items: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {

  .cart-label {
    display: none;
  }

  .nav-bar {
    position: fixed;
    display: flex;
    padding: 0 16px;
  }

  .nav-links {
    justify-content: start;
  }

  .cart-button {
    margin: 0 16px;
    justify-self: center;
  }

  .cart-icon {
    position: relative;
    font-size: 12px;
    font-weight: bold;
  }
  
  .cart-icon > *:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  
}

.cart-button:hover {
  color: var(--button-hover);
}