.nav-bar {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 2vh;
  grid-template-columns: repeat(5, 1fr);
  height: 5vh;
  width: 75vw;
  background-color: var(--accent-color);
  border-radius: 5vh;
}


.logo-wrapper {
  grid-column: 1;
}

.nav-links {
  grid-column-start: 2;
  grid-column-end: 5;
  align-items: center;
  text-wrap: none;
}

.nav-links a {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 1rem;
  padding: 0 1rem;
}

.nav-links a:hover {
  color: var(--button-hover);
}

.cart-wrapper {
  grid-column: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-icon {
  align-items: baseline;
  color: var(--text-color);
  font-size: 2rem;
  margin: 0 1.5rem;
}

.cart-icon:hover {
  color: var(--button-hover);
}